<div style="display: flex; flex-direction: column; gap: 5px;">
  <!-- Quill Editor -->
   

  <div class="acoes-container">
    <button class="btn btn-success acoes" title="Salvar Documento" (click)="updateDocumentHtml()">
      <span class="material-icons">save</span>
    </button>
    <button class="btn btn-danger acoes" title="Salvar Documento">
      <span class="material-icons">cancel</span>
    </button>
  </div>

  <quill-editor 
    [ngModelOptions]="{ standalone: true }" 
    [(ngModel)]="content" 
    style="height: 500px"
    [modules]="quillModules">
  </quill-editor>
</div>
