#toolbar {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  #toolbar button {
    margin-right: 5px;
  }
  
  .acoes-container{
    display: flex;
    justify-content: end;
  }
 /* Ajuste para o botão pequeno */
.acoes {
  padding: 5px 10px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 15%;
  height: 30px; /* Tamanho do botão */
  width: 30px;  /* Tamanho do botão */
}

.acoes span.material-icons {
  font-size: 20px; /* Tamanho do ícone */
}
