<app-tool-bar [title]="title" [isProfessional]="isProfessional" [isCorporative]="isCorporative"></app-tool-bar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- Espaçamento entre o cabeçalho e o conteúdo -->
<div class="card-header">
    <p></p>
    <h4 class="title">Gravações</h4>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="viewSelector" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ver Como
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="viewSelector">
            <li>
                <a class="dropdown-item switch-view" href="#">Card</a>
            </li>
            <li>
                <a class="dropdown-item switch-view" href="#">Tabela</a>
            </li>
        </ul>
    </div>
</div>

<div class="videos-container">
    <div class="find-itens">
        <!-- Barra de pesquisa -->
        <div class="search-input">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Pesquisar vídeos..." 
            />
        </div>
    
        <!-- Filtros -->
        <div class="filters">
            <!-- Filtro de data -->
            <div class="filter-item mb-3">
                <label for="dateFilter" class="form-label">Início</label>
                <input 
                    type="date" 
                    class="form-control" 
                    id="dateFilter" 
                    placeholder="Data Inicial"
                />
            </div>
            <div class="filter-item mb-3">
                <label for="dateFilter" class="form-label">Fim</label>

                <input 
                    type="date" 
                    class="form-control" 
                    id="dateFilter" 
                    placeholder="Data Inicial"
                />
            </div>
    
            <!-- Filtro de câmaras -->
            <div class="filter-item mb-3">
                <label for="camerasDropdown" class="form-label">Categoria de Arquivo/Documento:</label>
                <div class="dropdown">
                    <button 
                        class="btn btn-secondary dropdown-toggle" 
                        type="button" 
                        id="camerasDropdown" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        Selecione Câmaras
                    </button>
                    <div class="dropdown-menu" aria-labelledby="camerasDropdown">
                        <div 
                            class="dropdown-item" 
                            *ngFor="let camera of cameras">
                            <input 
                                type="checkbox" 
                                [id]="'camera' + camera.id" 
                                [(ngModel)]="selectedCameras[camera.id]" 
                            />
                            <label [for]="'camera' + camera.id">{{ camera.nome }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>


        </div>
        
    </div>
    
    
    <!-- Exibição no modo Grade -->
    <div *ngIf="viewMode === 'grid'" class="videos-grid">
        <div class="video-card" *ngFor="let video of videos">
            <video width="300" controls>
                <source [src]="video.url" type="video/mp4" />
            </video>
            <h3>{{ video.nome }}</h3>
            <p>{{ video.descricao }}</p>
            <button class="ver-detalhes-button btn btn-info">Ver Detalhes</button>
        </div>
    </div>

    <!-- Exibição no modo Lista -->
    <div *ngIf="viewMode === 'list'" class="videos-list">
        <div class="video-item" *ngFor="let video of videos">
            <video width="300" controls>
                <source [src]="video.url" type="video/mp4" />
            </video>
            <div>
                <h3>{{ video.nome }}</h3>
                <p>{{ video.descricao }}</p>
                <button class="ver-detalhes-button btn btn-info">Ver Detalhes</button>
            </div>
        </div>
    </div>
</div>