<app-tool-bar [title]="title" [isProfessional]="isProfessional" [isCorporative]="isCorporative"></app-tool-bar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="card-header">
    <p></p>
    <h4 class="title">Gravações</h4>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="viewSelector" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ver Como
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="viewSelector">
            <li><a class="dropdown-item switch-view" href="#">Card</a></li>
            <li><a class="dropdown-item switch-view" href="#">Tabela</a></li>
        </ul>
    </div>

</div>
<div class="search-input">
    <input type="text" class="form-control" placeholder="Pesquisar vídeos..." />
</div>
<div class="main-container">
    <!-- Filtros e barra de pesquisa -->
    <aside class="filters-container">
       

        <div class="filters">
            <!-- Filtro por Período -->
            <div class="filter-item">
                <label for="dateRangePicker" class="form-label">Filtrar por Período</label>
                <mat-form-field appearance="outline" class="custom-date-range">
                    <mat-label>Selecione um período</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Data inicial">
                        <input matEndDate placeholder="Data final">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <!-- Filtro por Categoria -->
            <div class="filter-item">
                <label for="camerasDropdown" class="form-label">Categoria de Arquivo/Documento:</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle filter-button"  type="button" id="camerasDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Selecione Câmaras
                    </button>
                    <div class="dropdown-menu" aria-labelledby="camerasDropdown">
                        <div class="dropdown-item" *ngFor="let camera of cameras">
                            <input type="checkbox" [id]="'camera' + camera.id"
                                [(ngModel)]="selectedCameras[camera.id]" />
                            <label [for]="'camera' + camera.id">{{ camera.nome }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- Conteúdo Principal -->
    <section class="content-container">


        <!-- Exibição no modo Grade -->
        <div *ngIf="viewMode === 'grid'" class="videos-grid">
            <div class="video-card" *ngFor="let video of videos">
                <video width="265" height="150" controls>
                    <source [src]="video.url" type="video/mp4" />
                </video>
                <h3>{{ video.nome }}</h3>
                <p>{{ video.descricao }}</p>
                <button class="ver-detalhes-button btn btn-info">Ver Detalhes</button>
            </div>
        </div>

        <!-- Exibição no modo Lista -->
        <div *ngIf="viewMode === 'list'" class="videos-list">
            <div class="video-item" *ngFor="let video of videos">
                <video width="300" controls>
                    <source [src]="video.url" type="video/mp4" />
                </video>
                <div>
                    <h3>{{ video.nome }}</h3>
                    <p>{{ video.descricao }}</p>
                    <button class="ver-detalhes-button btn btn-info">Ver Detalhes</button>
                </div>
            </div>
        </div>
    </section>
</div>