<div class="top-bar">
  <button class="button" [routerLink]="['/pesquisar-documentos']" title="Dashboard - Pesquisar Documentos">
    <img title="logo" [src]="logo" class="top-bar-logo">
  </button>
</div>

<div class="header-bar"></div>
<mat-toolbar class="main" color="primary">
  <span class="text-header" *ngIf="!(isAuthenticated$ | async)">IRIS - Sistema Inteligente de Integração de
    Recursos</span>
  <nav *ngIf="(isAuthenticated$ | async) && !isHome" class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" *ngIf="isCorporative">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Gestão de Documentos Corporativa
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/pesquisar-documentos']">Pesquisar Documentos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/listar-documentos']">Listar Documentos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/documentos']">Gerenciar Documentos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/inserir-documento']">Inserir Documento</a></li>
            <li><a class="dropdown-item" [routerLink]="['/inserir-arquivos']">Inserir Arquivos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/video-gallery']">Galeria de Vídeos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/home-professional']">Ambiente Profissional</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="isProfessional">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Gestão Profissional
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/cat']">Geração de CAT</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/home-corporative']">Ambiente Corporativo</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Espaçador e Título-->
  <span class="example-spacer"></span>

  <div class="user-info">
    <span *ngIf="isAuthenticated$ | async">Olá, {{userName}}!</span>

    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <button *ngIf="isProfessional" class="btn gov-br-login" id="gov-br-login" (click)="signInGovBR()">
        Entrar com gov.br
      </button>

      <button *ngIf="isCorporative" class="btn" id="logout-item" (click)="signIn()">Entrar</button>

    </ng-container>

    <button *ngIf="isAuthenticated$ | async" class="btn" id="logout-item" (click)="signOut()">Sair</button>
  </div>
</mat-toolbar>