<div class="custom-toolbar">
  <div class="top-bar">
    <button class="button" (click)="gotoHome()">
      <img [src]="logo" class="top-bar-logo">
    </button>
  </div>

  <!-- <div class="header-bar"></div> -->

  <mat-toolbar class="main" color="primary">
    <!-- Botão de Menu Lateral -->
    <div class="menu-container">

      <div class="menu-items">

        <div class="navigation-bar">
          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Gestão de Arquivos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" [routerLink]="['/arvore-documentos']">Gerenciar Documentos</a></li>
              <li><a class="dropdown-item" [routerLink]="['/inserir-arquivos']">Gerenciar Gravações de Reuniões</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Espaçador e Título -->
    <span class="example-spacer"></span>
    <!-- <span class="title">{{title}}</span> -->

    <!-- Ícone de Logout -->
    <div class="user-info">
      <span>Olá, Bruno Araujo de Oliveira!</span>
      <button class="btn" id="logout-item" (click)="logout()">Sair</button>
    </div>

  </mat-toolbar>
</div>