/* Estilos para o ModalComponent */
.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.model {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

button {
  margin-top: 20px;
}
