
.main {
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}


.progress-bar-loading {
  height: 20px;
  background-color: rgba(5, 114, 206, 0.2);
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex; /* Flex for centering */
  justify-content: center; /* Center the progress bar */
  border-radius: 5px; /* Bordas arredondadas para um visual melhor */
}



.progress-bar-loading-value {
  width: 100%;
  height: 100%;
  background-color: #00509b;
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.692); 
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none; 
}

#documentTree {
  max-height: 700px; 
  overflow-y: auto; 
}

@keyframes indeterminateAnimation {
  0% {
      transform: translateX(0) scaleX(0);
  }
  40% {
      transform: translateX(0) scaleX(0.4);
  }
  100% {
      transform: translateX(100%) scaleX(0.5);
  }
}

/* Adiciona uma transição suave para hover */
.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item i {
  margin-right: 8px;
}

.card-bkg-empty {
  margin-top: 0;
  margin-left: 0;
  padding: 10px;
  min-height: 700px;
  max-height: 700px;

}

.card-bkg-filed{
  margin-top: 0;
  margin-left: 0;
  padding: 10px;
  min-height: 700px;
  max-height: 700px;
  background-size: cover; 
  background-position: center; 
  background-image: 
  linear-gradient(to top, rgba(255, 255, 255, 0.623), rgba(255, 255, 255)), 
  url('/assets/cardbkgfull.jpg'); 
}

.card-button {
  margin-top: 0;
  margin-left: 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.container-fluid {
  padding-top: 140px; /* Em vez de margin-top, para evitar problemas de overflow */
}

.search {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.search-input {
  padding-left: 35px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-icon {
  position: absolute;
  left: 1.2rem;
  color: #aaa;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.buscar {
  margin-left: 5px;
  height: 41px;
}

.erroProcesso {
  color: #803b3b;
  font-weight: bold;
  margin-top: 10px;
}
iframe {
  border: none;
  overflow: auto;
  height: 100%;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  overflow: hidden;
  resize: both; /* Permite redimensionar */
}

.custom-dialog-container .mat-dialog-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  cursor: move; /* Permite mover */
}

.custom-dialog-container .mat-dialog-content {
  height: calc(100% - 2rem); /* Ajusta a altura do conteúdo */
  overflow: auto;
}

.custom-dialog-container .mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}
