<app-tool-bar [title]="title"></app-tool-bar>
<div class="container-fluid" style="height: 100vh; overflow: hidden;">
  <div class="row">
    <div class="form-group col-md-4 search-container d-flex align-items-center">
      <input class="form-control search-input rounded-2 py-2" placeholder="Buscar" id="example-search-input"
        (ngModelChange)="format(null)" (input)="format($event)" (keydown.enter)="searchDocuments(callback)"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="processIdentifier" [disabled]="buttonRoles.isLoading" />
      <mat-icon class="search-icon cursor-pointer ml-2">search</mat-icon>
      <button type="submit" class="btn btn-secondary buscar" (click)="searchDocuments(callback)"
        [disabled]="!processIdentifier || buttonRoles.isLoading">
        buscar
      </button>
    </div>

    <div class="col-md-8 d-flex p-3 flex-wrap">
      <!-- Botão para adicionar documentos-->
      <button class="btn btn-primary me-2 p-3 border" title="Incluir Documentos"  (click)="insertHtmlDocument()"
        *ngIf="buttonRoles.validProcess">
        <span class="material-icons">note_add</span>
      </button>
      <!-- Botão para editar documentos -->
      <button class="btn btn-primary me-2 p-3 border" title="Editar Documento" (click)="editHtmlDocument()"
        *ngIf="selectedDocument && buttonRoles.editableDocument">
        <span class="material-icons">edit</span>
      </button>
      <!-- Botão para modificar a ordem dos documentos na árvore -->
      <button class="btn btn-primary me-2 p-3 border" title="Modificar Ordem dos Documentos"
        *ngIf="buttonRoles.validProcess && documentCount >= 2">
        <span class="material-icons">swap_vert</span>
      </button>
      <!-- Botão para assinar documentos -->
      <button class="btn btn-primary me-2 p-3 border" title="Assinar Documento" *ngIf="selectedDocument">
        <span class="material-icons">assignment_turned_in</span>
      </button>
      <!-- Botão para deletar documentos -->
      <button class="btn btn-primary me-2 p-3 border" title="Deletar Documento" *ngIf="selectedDocument">
        <span class="material-icons">delete</span>
      </button>
    </div>
  </div>

  <div class="row" style="height: calc(100vh - 100px);">
    <!-- Ajuste a altura do row para ocupar o restante da tela -->
    <div class="col-md-4 d-flex" style="height: 100%;">
      <div class="card tree-container p-3" style="flex-grow: 1; height: 100%;">
        <div *ngIf="errorMessage" [innerHTML]="errorMessage" class="erroProcesso alert alert-danger">
        </div>
        <div *ngIf="alertMessage" [innerHTML]="alertMessage" class="erroProcesso alert alert-warning">
        </div>
        <div class="documentTree" id="documentTree"></div>
      </div>
    </div>

    <div class="col-md-8" style="height: 100%;">
      <div class="card" style="height: 100%;">
        <div class="card-header">
          <h4>{{subTitle}}</h4>
        </div>
        <div class="card-body" style="height: calc(100% - 56px);">

          <ng-container *ngIf="buttonRoles.showInsertDocument">
            <app-insert-document [modal]="modal" [processIdentifier]="processIdentifier"
              (fazerBuscaDocumentos)="searchDocuments(callback)" (startDocumentCallback)="startDocument($event)">
            </app-insert-document>
          </ng-container>

          <ng-container *ngIf="buttonRoles.showEditor;">
            <app-editor-html [content]="selectedDocumentString"></app-editor-html>
          </ng-container>

          <ng-container *ngIf="selectedDocument;">
            <iframe [src]="selectedDocument" width="100%" height="100%"></iframe>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>


<div id="loading-overlay" *ngIf="buttonRoles.isLoading">
  <div class="progress-bar-loading" *ngIf="buttonRoles.isLoading">
    <div class="progress-bar-loading-value"></div>
  </div>
</div>