/* Ensure html and body take full viewport height */
html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(241, 244, 249);
}

/* Full-width container */
.full-width-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Header styling */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #094c8c;
  color: white;
  padding: 0.5vw 0.5vw;
  border-bottom: #ba9705 5px solid;
  height: 10vw;
  max-height: 80px;
  font-size: calc(10px + 2vw);
  width: 100%;
}

header img {
  height: 100%;
  margin-right: 10px;
}

/* Flex-grow content area to take up remaining space */
.content {
  flex: 1;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
  width: 100%;
}

/* Footer styling */
footer {
  background-color: #00509b;
  color: white;
  text-align: center;
  padding: 0.5vw 0.5vw;
  border-top: #ba9705 5px solid;
  height: 10vw;
  max-height: 80px;
  width: 100%;
  font-size: calc(8px + 0.25vw);
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 100%;
}

.card-header:first-child {
  border-radius: calc(1.5rem - 1px) calc(1.5rem - 1px) 0 0;
  background: #ffffff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
  border-radius: calc(1.5rem - 1px) calc(1.5rem - 1px) 0 0;
  width: 100%;
  object-fit: cover;
  display: block;
}
